.link
{
    border: none;
    background-color: transparent;
}

.Sujet
{
    margin: 10px;
    padding: 10px;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    transition: transform .2s;
}
.Sujet:hover
{
    transform: scale(1.10); 
}

.new
{
    display: flex;
    justify-content: end;
}

.titre
{
    border-bottom:1px solid black;
    margin:20px;
    padding-top:0px;
}
.blocGauche
{
    width:80%;
    height:100%;
    margin-bottom: 0px;
    margin-left: 0px;
    
}
.bloc
{
    justify-content: space-between;
    flex-wrap: wrap;

}
.blocDroit
{
    width:20%;
    height:100%;
    margin-right: 0px;
    margin-top:0px;
    
}