.link
{
    border: none;
    background-color: transparent;
}

.Sujet
{
    box-shadow: 0 0 10px #00000070;
    transition: transform .2s;
    margin: 10px;
    padding: 10px;
}
.Sujet:hover
{
    transform: scale(1.10); 
}

.new
{
    display: flex;
    justify-content: end;
}

.titre
{
    border-bottom:1px solid black;
}
.blocGauche
{
    width:80%;
    height:100%;
    margin-bottom: 0px;
    margin-left: 0px;
    
}
.bloc
{
    display: flex;
    justify-content: space-between;

}
.blocDroit
{
    width:20%;
    height:100%;
    margin-right: 0px;
    margin-top:0px;
    
}