.bloc
{
    background-color: lightsteelblue;
    width:60%;
    height:300px;
    align-self: center;
    border-width:2px;
    border-style:outset;
    border-color:black;
    
}
.titre
{
    text-align: center;
    border-bottom:2px solid black;
    margin:20px;
}

.interieur
{
    margin:30px;
    flex-wrap: wrap;
    display:block;
}
.barre
{
    width:100%;
    height:25px;
}