.footer
{
    bottom:0;
    width:100%;
    text-align: center;
    color: #FFF;
    background-image : url(https://png.pngtree.com/thumb_back/fw800/back_our/20190622/ourmid/pngtree-simple-technology-forum-general-background-material-image_208058.jpg);
}
