.footer
{
    display: flex;
    bottom:0;
    width:100%;
    text-align: center;
    color: #FFF;
    margin-botton:0px;
    background-image : url(https://png.pngtree.com/thumb_back/fw800/back_our/20190622/ourmid/pngtree-simple-technology-forum-general-background-material-image_208058.jpg);
    background-image : url(https://png.pngtree.com/thumb_back/fw800/back_our/20190622/ourmid/pngtree-simple-technology-forum-general-background-material-image_208058.jpg) ;
    height: 100px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
