body
{
    margin: 0px;
}

.entete
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    background-color: #007cff;
}

.nomForum
{
    display: flex;
    justify-content: space-around;
}

.logo
{
   height: 100%;
}

.boutonPosition
{
    margin: 1%;
}

.bouton
{
    display: flex;
    flex-direction: row;
    text-align: center;
}