body
{
    margin: 0px;
    background-color: #ebebeb;
}

.titre
{
    font-size: 30px;
}

.Commentaire
{
    margin-top: 10px;
    margin-bottom: 10px;
}
.Droit
{
    width:20%;
    heigth:100%;
    
    background-color:#6E8291;
    flex-wrap:wrap;
}
.Milieu
{
    width:60%;
    heigth:100%;
    flex-wrap:wrap;
    margin:10px;
}
.Gauche
{
    width:20%;
    heigth:100%;
    background-color:#6E8291;

    justify-content: flex-end;
    flex-wrap:wrap;
}
.Organisation
{
    justify-content: center;
    display:flex;
}

.apex
{
    width:100px;
    heigth:100%;
    margin:20px;
    
}

.switch
{
    width:100px;
    heigth:100%;
    margin:20px;
}