body
{
    margin: 0px;
    background-color: #ebebeb;
}

.titre
{
    font-size: 30px;
}

.Commentaire
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.Milieu
{
    width:60%;
    heigth:100%;
    flex-wrap:wrap;
    margin:10px;
}
.cote
{
    width: 20%;
    background-color: #dfdede;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.Organisation
{
    justify-content: center;
    display:flex;
}

.apex
{
    width:100px;
    heigth:100%;
    margin:20px;
    
}

.switch
{
    width:100px;
    heigth:100%;
    margin:20px;
}

.border
{
    border-top-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    margin: 2px;
}

.NomSujet
{
    font-size: 20px;
}