body
{
    margin: 0px;
    background-color: #ebebeb;
    min-height: 1000px;;
}

.titre
{
    font-size: 30px;
}

.Commentaire
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.border
{
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 10px;
    margin: 10px;
}

.NomSujet
{
    font-size: 20px;
}

.link
{
    border: none;
    background-color: transparent;
}

.new
{
    display: flex;
    justify-content: end;
}