.Milieu
{
    width: 60%;
    background-color: blue;
}
.hautDroit
{
    margin-right:0px;
    height:50%;
    background-color: red;
}
.hautGauche
{
    margin-right:0px;
    height:50%;
    background-color: blue;
}
.titre
{
    text-align: center;

}