.bloc
{
    background-color: lightsteelblue;
    width:100%;
    height:500px;
    align-self: center;
    border-width:2px;
    border-style:outset;
    border-color:black;
    border-radius: 15px;
}

.interieur
{
    margin:30px;
    flew-wrap:wrap;
}

.titre
{
    font-size:30px;
    text-align:center;
    border-bottom:2px solid black;
    margin:20px;
}
.barre
{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

.barreTexte
{
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
}

.id
{
    width: 70px;
    height: 20px;
}