.all
{
    margin-top:50px;
    box-shadow: 0 0 10px #00000070;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.org
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.pseudo
{
    border-bottom:1px solid black;
    margin:20px;
    font-size:40px;
    font-weight: bold;
    margin-top:30px;
    width:80%;
    display:inline-flex;
    text-align:center;
}


.middle
{
    display: inline-flex;
    flex-direction: column;
    margin:20px;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
}

.img
{
    width: 100%;
    max-width: 300px;
}

.btn
{
    max-width: 200px;
    margin: 5px;
    align-items: flex-end;
}

.pdp
{
    width: 25%;
    margin-left: 20px;
    display: flex;
}

.cote
{
    width: 35%;
    text-align:center;
}
.textBio
{
   margin-top: 20px;
   margin-bottom:20px;
   border:1px solid black;
}

.form
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.link
{
    border: none;
    background-color: transparent;
}

.modif
{
    width:30px;
    height:30px;
}

.modifPhoto
{
    width:70px;
}
.formColumn
{
    margin-top:20px;
    width:100%;
    margin-right:10px;
}

.formColumn2
{
    text-align:left;
    width:100%;
    margin:10px;
    display:inline-flex;
    
}