.Sujet
{
    border-top-width: 1px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 10px;
}

.contenuSujet
{
    font-size: 20px;
}

.date
{
    display: flex;
    justify-content: end;
    width: 20%;
    height: 100%;
}

.com
{
    display: flex;
    flex-direction: row;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
}

.lateralCom
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

h3
{
    margin: 0px;
}

.pseudo
{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.pdp
{
    width: 150px;
}

.contenuCom
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    
}

.newCom
{
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
}

.inputCom
{
    width: 100%;
}

.adminCMD
{
    display: flex;
    justify-content: flex-end;
}