.bloc
{
    background-color: lightsteelblue;
    width:80%;
    height:400px;
    align-self: center;
    border-width:2px;
    border-style:outset;
    border-color:black;
    border-radius: 15px;
    text-align:center;
}

.titre
{
    text-align: center;
    border-bottom:1px solid black;
    margin:20px;
    font-size:30px;
}

.ban
{
    margin-bottom:20px;
    margin-right:20px;
    margin-left:20px;
    margin-top:10px;
    width:80%;
    height:200px;
}

.btn
{
    width:100px;
    heigth:20px;
    font-size:20px;
}